In [1]:
import xarray as xr
import pandas as pd

# Replace this with the path to your .nc file
file_path = 'SEAFLUX-OSB-CDR_V02R00_FLUX_D19940104_C20160824.nc'

# Open the .nc file using xarray
ds = xr.open_dataset(file_path)

# Convert the xarray dataset to a pandas dataframe and reset the index
df = ds.to_dataframe().reset_index()

# Print the first 5 rows of the dataframe
df.head()

,time,lat,lon,surface_upward_sensible_heat_flux,surface_upward_latent_heat_flux,fill_missing_qc
0,1994-01-04 01:30:00,-89.875,0.125,NaN,NaN,3.0
1,1994-01-04 01:30:00,-89.875,0.375,NaN,NaN,3.0
2,1994-01-04 01:30:00,-89.875,0.625,NaN,NaN,3.0
3,1994-01-04 01:30:00,-89.875,0.875,NaN,NaN,3.0
4,1994-01-04 01:30:00,-89.875,1.125,NaN,NaN,3.0

In [2]:


# to remove rows with NaN values
df = df.dropna()

# check the data types of each column
df.dtypes

time                                 datetime64[ns]
lat                                         float64
lon                                         float64
surface_upward_sensible_heat_flux           float32
surface_upward_latent_heat_flux             float32
fill_missing_qc                             float32
dtype: object

In [3]:
df.tail()

,time,lat,lon,surface_upward_sensible_heat_flux,surface_upward_latent_heat_flux,fill_missing_qc
8197969,1994-01-04 22:30:00,73.375,12.375,99.478371,140.758545,0.0
8197970,1994-01-04 22:30:00,73.375,12.625,110.179321,126.506454,0.0
8197971,1994-01-04 22:30:00,73.375,12.875,114.243828,121.865097,0.0
8199410,1994-01-04 22:30:00,73.625,12.625,82.227608,129.201004,0.0
8199411,1994-01-04 22:30:00,73.625,12.875,79.466202,117.670044,0.0

In [6]:
# find the range of surface_upward_sensible_heat_flux	
df['surface_upward_sensible_heat_flux'].min(), df['surface_upward_sensible_heat_flux'].max()

(-199.73222, 372.31216)

In [7]:

# find the range of surface_upward_latent_heat_flux
df['surface_upward_latent_heat_flux'].min(), df['surface_upward_latent_heat_flux'].max()

(-49.99738, 499.82336)

Time Period:\
1994-01-04 01:30:00 to 1994-01-04 22:30:00\
Bounding Coordinates:\
Bounding Box covering -180째, 90째, 180째, -90째 (W, N, E, S).

In [4]:

# Define strata based on longitude and latitude
num_strata = 10  # Adjust this based on your needs
df['lat_strata'] = pd.qcut(df['lat'], num_strata, labels=False)
df['lon_strata'] = pd.qcut(df['lon'], num_strata, labels=False)

# Sample from each stratum
samples_per_stratum = 100  # Adjust this based on your needs
df_sample = df.groupby(['lat_strata', 'lon_strata']).apply(lambda x: x.sample(min(len(x), samples_per_stratum))).reset_index(drop=True)

# Export to JSON
df_sample.to_json('output.json', orient='records')

ds.close()

python -m http.server

http://localhost:8000

Surface Upward Sensible Heat Flux: This is the flux of heat from the Earth's surface to the atmosphere that is not associated with phase changes of water. It's primarily due to temperature differences between the surface and the air.

Surface Upward Latent Heat Flux: In contrast, this represents the heat flux from the Earth's surface to the atmosphere associated with water phase changes, such as evaporation or sublimation. This is a key component in the water cycle and plays a significant role in atmospheric dynamics.